.mainContact{
    height: fit-content;
}

  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 10vw 0;
    font: 300 10vw 'Lobster', monospace;
    color: #FC7E37;
    text-transform: uppercase;
    letter-spacing: 2vw;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 840px;
  }
  
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 5vw 'Confortaa', monospace;
    letter-spacing: 1.9px;
    color: #FFFF00;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #FFFF00;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  
  .copyright {
    font: 200 3vw 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  